<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Conglomerate
Version    : 1.0
Released   : 20070514
Description: A two-column fixed width template suitable for corporate use.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>BreakFast by Free Css Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<%= stylesheet_link_tag("breakfast") %>
<style type="text/css" media="screen">
  <%# css urls have to be the absolute file path for pdfs (handled automatically by `asset_host` setting) %>
  #menu a {
    background: url(<%= image_path('breakfast/img1.gif')%>) no-repeat;
  }
</style>
</head>
<body>
<div id="header">
  <div id="logo">
    <h1><a href="#">BreakFast</a></h1>
    <h2><a href="http://www.freecsstemplates.org/">By Free CSS Templates</a></h2>
  </div>
  <div id="menu">
    <ul>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Clients</a></li>
      <li><a href="#">Support</a></li>
    </ul>
  </div>
</div>
<div id="splash"><%= image_tag('breakfast/img3.jpg') %></div>
<div id="page">
  <div id="content">
    <h1>Welcome to BreakFast!</h1>
    <blockquote>
      <p>
        BreakFast is a free template from <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>
        released under a Creative Commons Attribution 2.5 <a href="http://creativecommons.org/licenses/by/2.5/">License</a>.
        The photo is from <a href="http://www.pdphoto.org/">PDPhoto.org</a>.
        You're free to use it for both commercial or personal use.
        I only ask that you link back to my site in some way. <em>Enjoy :)</em>
      </p>
    </blockquote>
    <p>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh. Fusce mattis viverra elit. Fusce rutrum tempus velit. Nulla quis elit a  dui pharetra venenatis. Vestibulum pellentesque, justo mollis pretium suscipit, justo nulla  blandit libero, in blandit justo quis nisl.</p>
    <ol>
      <li><a href="#">Integer sit amet pede vel arcu aliquet pretium.</a></li>
      <li><a href="#">Pellentesque quis elit non lectus gravida blandit.</a></li>
      <li><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</a></li>
      <li><a href="#">Phasellus nec erat sit amet nibh pellentesque congue.</a></li>
      <li><a href="#">Cras vitae metus aliquam risus pellentesque pharetra.</a></li>
    </ol>
  </div>
  <div id="sidebar">
    <h2>Integer Gravida Nibh</h2>
    <ul>
      <li>
        <h3>December 14th - Lorem Ipsum </h3>
        <a href="#">In posuere eleifend odio quisque semper augue mattis wisi maecenas ligula&#8230;</a></li>
      <li>
        <h3>December 9th - Blandit Justo </h3>
        <a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus&#8230;</a></li>
      <li>
        <h3>December 3rd - Pretium Suscipit </h3>
        <a href="#">Quisque dictum integer nisl risus sagittis convallis rutrum id congue&#8230;</a></li>
    </ul>
  </div>
</div>
<div id="footer">
  <p id="legal">Copyright &copy; 2007 BreakFast. All Rights Reserved. Designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
  <p id="links"><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></p>
</div>
</body>
</html>
