<% content_for :head do %>
  <style type="text/css" media="screen">
    .section {
      width: 600px;
    }
    .section h2 {
      text-align: center;
    }
    .section div {
      -webkit-column-count: 2;
      -webkit-column-gap: 20px;
    }
  </style>
<% end %>

<div class='section'>
  <h2>Writing in columns</h2>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>In sed augue mi. Curabitur tristique justo a velit convallis vel viverra tellus cursus. Aenean tristique nunc eu ipsum porta at dictum ipsum sagittis. Aliquam erat volutpat. Ut non dui nec arcu mollis malesuada. Aliquam est elit, consequat et scelerisque ac, rhoncus eu est. Fusce adipiscing, lorem et ultrices pellentesque, ipsum tortor adipiscing ligula, a volutpat diam est vitae augue. Ut consequat condimentum lacus et vestibulum. Duis nisl arcu, tincidunt ut mollis nec, adipiscing ac ante. Sed facilisis, dui at consequat elementum, massa lorem rhoncus augue, sit amet imperdiet felis ante non nisl. Sed laoreet vestibulum purus vitae bibendum. Nullam in congue justo. Sed tincidunt tempor eros in laoreet. Donec vel nisi in mauris venenatis tempor. Curabitur varius vulputate tortor, a vulputate justo euismod semper. Duis sollicitudin scelerisque neque, at adipiscing massa interdum non. Quisque consequat tortor quam, vel tristique tellus. Nam blandit sollicitudin dui, quis egestas nibh malesuada non.</p>
    <p>Vestibulum dolor felis, tempus viverra posuere ut, lacinia vitae mi. Aenean sit amet diam at erat accumsan dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, est eu tincidunt dictum, felis nisl tempus lectus, vulputate blandit neque leo vitae diam. Duis at urna augue, eu rhoncus nunc. Donec pulvinar adipiscing mi sed rutrum. Mauris gravida, orci vel feugiat consequat, odio dui laoreet erat, ut mattis lorem velit congue mi. Donec mattis imperdiet orci, at pretium arcu sollicitudin ut. Cras laoreet tempus suscipit. Curabitur tristique, mi a interdum aliquet, lacus sapien rhoncus turpis, a porttitor mi enim vel ligula. Proin et nulla tellus. Aliquam erat volutpat. Donec vitae orci in dui suscipit pharetra. Maecenas tincidunt porta aliquet.</p>
  </div>
</div>
