<h3>Samples</h3>
<ul>
  <li>
    hello world (<%= link_to 'html', samples_path('hello_world') %> |
                 <%= link_to 'pdf', samples_path('hello_world', 'pdf') %>)
  </li>
  <li>
    breakfast (<%= link_to 'html', samples_path('breakfast') %> |
               <%= link_to 'pdf', samples_path('breakfast', 'pdf') %>)
  </li>
</ul>
